@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionnel : reset et style global */
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #f3f4f6; /* gris clair Tailwind */
}
